@page "/login"
<h3>Login</h3>
<div class="p-4">
    <div class="col-md-3">
        <label class="form-label" >Username</label>
        <input type="letter" class="form-control" id="username" @bind="Username" placeholder="Big Chungus" />
    </div>
    <div class="col-md-3">
        <label class="form-label" >Password</label>
        <input type="password" class="form-control" id="username" @bind="Password" placeholder="Swagglestar420" />
    </div>
    <div class="col-md-3">
        <p style="color:@Color"><b>@text</b></p>
    </div>
    <button type="submit" class="btn btn-primary" @onclick="Submit">Submit</button>
</div>

@code {
    private string Username { get; set; }
    private string Password { get; set; }

    string Color = "blue";
    string text = "Hello Guest!";

    private void Submit()
    {
        if (Username == "Big Chungus" && Password == "Swagglestar420")
        {
            Color = "green";
            text = "Hello Guest!";
            Username = "";
            Password = "";
        }

        else
        {
            Color = "red";
            text = "Wrong Password!";
            Username = "";
            Password = "";
        }
    }
}
